services:
  postgres:
    image: postgres:17
    container_name: postgres_debriefing
    restart: always
    environment:
      POSTGRES_DB: debriefing_db
      POSTGRES_USER: debriefing_user
      POSTGRES_PASSWORD: debriefing_pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_debriefing
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  pgdata:
